<html>
    <head>
        <title>
            home page
        </title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <h1>this is 404 page error</h1>
          {{>footer}}
    </body>
</html>